.router-link-active {
  .nav_list {
    color: #eb7623; /* neutral-600 */
    font-weight: 600;
  }
}
.nav_list {
  color: var(--neutral-600); /* neutral-600 */
  gap: 8px;
  position: relative;
  font-size: 0.8rem;
  white-space: nowrap;
  line-height: 22px;
  font-weight: 400;
  .material-symbols-outlined {
    font-size: 1.3rem;
  }
}

.mat-mdc-list-base {
  background-color: white;
}
a.mdc-list-item.mdc-list-item--with-one-line {
  height: 2.3rem;
}
