.sidenav-container {
  height: 100%;
  background-color: var(--color-background);
}

.sidenav {
  width: 200px;
  border: 0 !important;
  box-shadow: var(--boxShadow-xs);
}

.sidenav .mat-toolbar {
  background: var(--primary-550);
  color: white;
}

.mat-toolbar {
  z-index: 999;
  background-color: #f8f9fa;
}

.nav_list {
  column-gap: 0.6rem;

  .material-symbols-outlined {
    font-size: 1.3rem;
  }
}

main {
  padding: 0.1rem 1rem 0.5rem;
  height: calc(100vh - (var(--mat-toolbar-standard-height)));
  background-color: #f8f9fa;
}

mat-icon.toggle {
  margin-top: -6px;
}

.avtar_container {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: var(--borderRadius-xxxl);
  background-color: var(--color-background);
  box-shadow: var(--boxShadow-s);
  img {
    height: 100%;
  }
}

.profile_container {
  cursor: pointer;
  column-gap: 0.5rem;
  transition: 0.4s;
  background-color: white;
  color: rgba(black, 0.65);
  line-height: 1.2;
  min-width: var(--width-Sz20);
  box-shadow: var(--boxShadow-s);
  border-radius: var(--borderRadius-xxxl);

  &:hover {
    box-shadow: var(--boxShadow-xl-mid);
  }

  .profile {
    font-size: 0.9rem;

    .profile_name,
    .profile_email {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: var(--width-Sz21);
    }

    .profile_name {
      font-size: 0.95em;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.541);
    }

    .profile_email {
      font-size: 0.7em;
      color: gray;
    }
  }
}

.editOrViewSchoolProfile {
  font-size: 0.8rem;
}

// mobile style

.mobile_width {
  width: 100%;
}

.mobile_padding {
  padding: 0px 5rem;
}

.profile_option {
  mat-icon {
    cursor: pointer;
    color: #379ae6ff;
  }

  .profile_name {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 5px 14px;
    border-radius: 27px;
    background: var(--primary-550);
  }
}

.mobile_bgColor {
  background: white !important;

  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    color: var(--primary-550) !important;
  }
}

.profile_icon {
  padding: 4px;
  border-radius: 27px;
  border: 1px solid rgb(189 174 174 / 47%);

  div {
    padding: 0px 9px;
    border-radius: 27px;
    background: var(--primary-550);
  }
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px !important;
}

.school_address {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--neutral-900);
}

.school_name {
  color: var(--neutral-900);
  margin: 0px 7px 5px;
}
