<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.mobile_width]="screenObserver.isMobile"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <!-- <mat-toolbar></mat-toolbar> -->
    <div
      class="d-flex flex-column align-items-center justify-content-center text-center"
    >
      <div>
        <img
          style="min-height: 70px; padding: 50px 0 12px; width: 70px"
          src="assets/images/avatar_1.webp"
          alt=""
        />
      </div>
      <div [class.mobile_padding]="screenObserver.isMobile">
        <h6>{{ (profile | async)?.schoolProfile?.name }}</h6>
        <span>
          Sakri, {{ (profile | async)?.schoolProfile?.city }} ({{
            (profile | async)?.schoolProfile?.state
          }})
        </span>
        <div>
          <a class="editOrViewSchoolProfile" routerLink="./school-profile"
            >Edit School Profile</a
          >
        </div>
      </div>
    </div>
    <div class="seperator my-2"></div>

    <sc-menu [navItems]="navItems"></sc-menu>
    <div class="seperator my-2"></div>

    <div [ngStyle]="{ display: screenObserver.isMobile ? 'initial' : 'none' }">
      <mat-nav-list class="p-0">
        <a mat-list-item>
          <div class="d-flex align-items-center nav_list">
            <span class="material-symbols-outlined"> Logout </span>

            <span class="pr-2"> Log Out </span>
          </div>
        </a>
        <a mat-list-item>
          <div
            class="d-flex align-items-center nav_list justify-content-between"
          >
            <div class="d-flex">
              <span class="material-symbols-outlined"> dark_mode </span>
              <span class="pr-2"> Night Mode </span>
            </div>
            <span class="pr-2">
              <mat-slide-toggle></mat-slide-toggle>
            </span>
          </div>
        </a>
      </mat-nav-list>
      <div class="seperator my-2"></div>
      <div class="d-flex profile_option">
        <div class="col-2 d-flex align-items-center justify-content-center">
          <span class="profile_name">
            {{ (profile | async)?.loggedInUser?.name?.slice(0, 1) }}
          </span>
        </div>
        <div class="col-10">
          <div class="d-flex justify-content-between py-3">
            <b class="px-3">
              {{ (profile | async)?.loggedInUser?.name }}
            </b>
            <mat-icon>edit</mat-icon>
          </div>
          <div class="d-flex justify-content-between">
            <span class="px-3">
              {{ (profile | async)?.loggedInUser?.email }}
            </span>
            <mat-icon>settings</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      [class.mobile_bgColor]="screenObserver.isMobile"
    >
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div class="d-flex w-100 justify-content-between">
        @if(!screenObserver.isMobile){
        <div></div>
        <div
          class="profile_container d-flex px-2 pr-0 py-1 justify-content-end"
          [matMenuTriggerFor]="menu"
        >
          <div class="profile text-end d-flex flex-column">
            <div class="profile_name">
              {{ (profile | async)?.loggedInUser?.name }}
            </div>
            <div class="profile_email">
              {{ (profile | async)?.loggedInUser?.email }}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <!-- TODO: Please find a batter way of showing image since it is coming inside the user's profile  -->
            <!-- <img
              style="height: 24px"
              [src]="
                (profile | async)?.loggedInUser?.profileImage?.url
                  ? (profile | async)?.loggedInUser?.profileImage?.url
                  : 'assets/images/avatar_1.webp'
              "
              #profileImage
              (error)="profileImage.src = 'assets/images/avatar_1.webp'"
              alt="user profile "
            /> -->
            <!-- <mat-icon>account_circle</mat-icon> -->
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">
              <mat-icon>logout</mat-icon>
              <span>Log-out</span>
            </button>
          </mat-menu>
        </div>
        }@else {
        <div></div>
        <div class="profile_icon">
          <div>
            {{ (profile | async)?.loggedInUser?.name?.slice(0, 1) }}
          </div>
        </div>
        }
      </div>
    </mat-toolbar>
    <main class="px-2 px-md-4">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
